:host {
    background: hsl(0, 0%, 90%);
    display: block;
    padding: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background: hsl(0, 0%, 80%);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
        display: block;
    }
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0 0;
}

span.completed {
    text-decoration: line-through;
}

button {
    border: none;
    border-radius: 0.25rem;
    height: 2rem;
    padding: 0 1rem;

    &.done {
        background: hsl(123deg 100% 45%);

        &[disabled] {
            background: hsl(123deg 50% 80%);
        }
    }

    &.remove {
        background: hsl(10deg 100% 45%);
        margin-left: 0.5rem;
    }
}

.text {
    flex: 1;
}
