<h1>Todos</h1>
<ul>
    <li *ngFor="let todo of todos">
        <input type="checkbox" disabled [checked]="todo.completed" />
        <span class="text" [class.completed]="todo.completed">{{ todo.text }}</span>
        <button class="done" [disabled]="todo.completed" (click)="onDoneClick(todo.id)">✔ Done</button>
        <button class="delete" (click)="onDeleteClick(todo.id)">❌ Delete</button>
    </li>
</ul>

<form (ngSubmit)="onAddTodo()">
    <input type="text" name="newTodo" placeholder="New Todo ..." [(ngModel)]="newTodoValue" />
    <input type="submit" value="Add" />
</form>
